## PROJECT::GENERAL
*.rbc
.config
.yardoc
.rspec
InstalledFiles
_yardoc
coverage
coverage
doc/
lib/bundler/man
pkg
pkg/*
rdoc
rdoc
spec/reports
spec/cassettes/*
tmp

## BUNDLER
bin
*.gem
.bundle
.rbenv*
.rvmrc
Gemfile.lock
doc
log
